<!DOCTYPE html>
<html lang="en">

   <%- include("../partials/head") %>

  


<body>
  <% if (user) { %>
<!-- header section starts  -->

<!-- header section starts  -->
<% if (user.role === 'admin') { %>
  <%- include("../partials/header_admin.ejs") %>
  <%- include("../partials/sidebar.ejs") %>


<% } else { %>
            
<%- include("../partials/header") %>

<%}  %>

<%}  %>
<%- include("../partials/header") %>

<!-- header section ends -->



<section class="Trips-form" >
 



    <div class="heading m">
      <span>book your transport!</span>
      <h1>details new transport</h1>
   </div>



    
    <form method="#" action="#" >

      <div class="inputBox">
      <label for="date_tra"> <span>The start date </span></label>
      <p class="form-control">
        <%= objtransport.date_tra %>
    </p>
    </div>
    <div class="inputBox">
      <label for="date_rest_tra"> <span>The date of return </span></label>
      
      <p class="form-control">
        <%= objtransport.date_rest_tra %>
    </p>
    </div>
    <div class="inputBox">
      <label for="prix_tra"> <span>transport prix </span></label>
      <p class="form-control">
        <%= objtransport.prix_tra %>
    </p>
    </div>
    <div class="inputBox">
      <label for="mp_tra"> <span>company transport </span></label>
      
      <p class="form-control">
        <%= objtransport.cmp_tra %>
    </p>
    </div>
    <div class="inputBox">
      <label for="typ_tra"> <span>type </span></label>
      <p class="form-control">

      
          <td>
             <%= objtransport.typ_tra.name %>
         </td>
        
    </p>
    </div>
    

      
       
    <% if (!user) { %>

      <a class="btn create" href="/BookTransport/bookUser/<%= objtransport._id %>">book</a>


      
      <% } else { %>
                  
      
        <% if (user.role === 'admin') { %>
          <button data-linkid="transport/<%= objtransport._id %>" class="btn create">
            Delete this transport
        </button>
          <a class="btn create" href="/admin/book/Book/<%= objtransport._id %>">book</a>
  
        <% } else { %>
          <a class="btn create" href="/BookTransport/bookUser/<%= objtransport._id %>">book</a>
        <%}  %>
        
        
       
      <%}  %>




    </form>









  </section>




<%- include("../partials/footer.ejs") %>

<script>
    const btnelement = document.querySelector(".create")
    const transportId = btnelement.getAttribute("data-linkid");


    //  what is data ?
    // {mylink: "/Trips" }


    btnelement.addEventListener("click", (eo) => {

        fetch(`/transport/${transportId}`, { method: "DELETE" })
            .then((response) => response.json())
            .then((data) => window.location.href = data.mylink)
            .catch((err) => {
                console.log(err);
            });
    })



</script>























