
   <%- include("../partials/head") %> 

   
<!-- header section starts  -->

<!-- header section starts  -->
<% if (!user) { %>


   <%- include("../partials/header") %>
   
   <% } else { %>
               
   
     <% if (user.role === 'admin') { %>
       <%- include("../partials/header_admin.ejs") %>
       <%- include("../partials/sidebar.ejs") %>
     <% } else { %>
       <%- include("../partials/header") %>
     
     <%}  %>
     
     
   
   <%}  %>



   

  
   
 
 
 
       
   <section data-aos="zoom-in-left" data-aos-delay="2050" class="transport" >  

    <div class="heading m">
     
      <a data-aos="zoom-in-left" data-aos-delay="1300" href="/BookTransport/add-new-BookTranspor" class="btn">Book Transport</a>
      <div class="heading m">
     
        <span>All transport</span>
     </div>   </div>

<br>
<table>
   <%- include('../partials/flashMessages') -%>

   <thead>
      <tr>  
         <th >Processes </th>
         <th scope="col">name </th>
         <th scope="col">transport prix</th>
         <th scope="col">data </th>

      </tr>
    </thead>

    <tbody>
      <tr >
        
        <% arrtransport.forEach(item=> { %>
         

         <td>
          <a  href="/transport/transport/<%= item._id  %>">read more <i class="fas fa-angle-right"></i></a>

         </td>
         
        

        
         

          <td>
             <%= item.typ_tra.name %>
         </td>

        

           <td>
              <%= item.prix_tra %>
           </td>
         
         
         <td>
             <%= item.date_tra %>
         </td>
         


       
        <tr class="spacer"><td colspan="100"></td></tr>

       </tr>
       <% }); %>  


    </tbody>
   </table>
   </div>


        
      </section>
   </div>
   </div>
      




<!-- footer section starts  -->

<%- include("../partials/footer") %>

<!-- footer section ends -->