


   <%- include("../partials/head") %> 

   
<!-- header section starts  -->

<%- include("../partials/header") %>


<section class="book-form" >
   

    <div class="heading m">
       <span>All transport</span>
     
    </div>
    <div class="heading m">
     
      <a data-aos="zoom-in-left" data-aos-delay="1300" href="/transport/add-new-transport" class="btn">transport now</a>
   </div>
 
 
 
       <div class="table-responsive custom-table-responsive">
         
        <table class="table custom-table">
            <thead>
              <tr>  
  
                
               
              
               <th scope="col">name </th>
               <th scope="col">date_tra</th>
               <th scope="col">date_rest_tra</th>
               <th scope="col">transport prix_tra</th>
              
               <th scope="col">Processes </th>

 
             </tr>
           </thead>
           <tbody>
            <% arrtransport.forEach(item=> { %>
             <tr scope="row">
               
               
                

                
              
                <td>
                    <%= item.typ_tra %>
                </td>
                
                <td>
                   <%= item.date_tra %>
                 
                </td>
                
                <td>
                   <%= item.date_rest_tra %>
                   
                </td>
                
                <td>
                   <%= item.prix_tra %>
                  
                </td>
                
                
                <!-- <td>
                   <%= item.mp_tra %>
                </td>
                
                
                <td>
                   <%= item.typ_tra %>
                </td> -->
                
               
                
                <td>
                    <a  href="/transport/transport/<%= item._id  %>">read more <i class="fas fa-angle-right"></i></a>
                </td>
 
              
               <tr class="spacer"><td colspan="100"></td></tr>
 
              </tr>
              <% }); %>  
 
 
            </tbody>
        </table>
      </div>


    </div>

  </div>
    
    

   

</section>


<!-- footer section starts  -->

<%- include("../partials/footer") %>

<!-- footer section ends -->