
   <%- include("../partials/head") %> 

   
<!-- header section starts  -->

<%- include("../partials/header") %>



   

    <div class="heading m">
       <span>All transport</span>
     
    </div>
    <div class="heading m">
     
      <a data-aos="zoom-in-left" data-aos-delay="1300" href="/transport/add-new-transport" class="btn">transport now</a>
   </div>
 
 
 
       
   <section data-aos="zoom-in-left" data-aos-delay="2050" class="transport" >  
        <table >
            <thead>
              <tr>  
  
               <!-- <th >name </th> --><th >Processes </th>
               <th >transport prix_tra</th>
               <!-- <th >Processes </th> -->
               <th >name </th>
 
             </tr>
           </thead>

         
           <tbody>

                 
            <% arrtransport.forEach(item=> { %>
               

             <tr >
               <td>
                    <a  href="/transport/transport/<%= item._id  %>">read more <i class="fas fa-angle-right"></i></a>
                </td>
               <% arrtyp_tra.forEach(itemm=> { %>
               <% if ( item.typ_tra === itemm._id) { %>
               <td>
                  <%= itemm.name %>
              </td>
              <% } %>
              <% }); %>  
                <td>
                   <%= item.prix_tra %>
                </td>
                
 
              
              
              
              </tr>


              <% }); %>  
 
 
            </tbody>
        </table>
      </section>
   </div>
   </div>
      




<!-- footer section starts  -->

<%- include("../partials/footer") %>

<!-- footer section ends -->