<!DOCTYPE html>
<html lang="en">

   <%- include("./partials/head") %>

  


<body>
   
<!-- header section starts  -->

<% if (!user) { %>


  <%- include("./partials/header") %>
  
  <% } else { %>
              
  
    <% if (user.role === 'admin') { %>
      <%- include("./partials/header_admin.ejs") %>
      <%- include("./partials/sidebar.ejs") %>
    <% } else { %>
      <%- include("./partials/header") %>
    
    <%}  %>
    
    
  
  <%}  %>


<!-- header section ends -->

<section class="about" id="about">

   <div class="video-container" data-aos="fade-right" data-aos-delay="300">
       <video src="images/about-vid-1.mp4" muted autoplay loop class="video"></video>
       <div class="controls">
           <span class="control-btn" data-src="images/about-vid-1.mp4"></span>
           <span class="control-btn" data-src="images/about-vid-2.mp4"></span>
           <span class="control-btn" data-src="images/about-vid-3.mp4"></span>
       </div>
   </div>

   <div class="content" data-aos="fade-left" data-aos-delay="600">
       <span>why choose us?</span>
       <h3>Nature's Majesty Awaits You</h3>
       <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Unde fugit repellat error deserunt nam aperiam odit libero quos provident. Nostrum?</p>
       <a href="#" class="btn">read more</a>
   </div>

</section>
<!-- reviews section ends -->















<!-- footer section starts  -->

<%- include("./partials/footer") %>

<!-- footer section ends -->











</body>
</html>