<!DOCTYPE html>
<html lang="en">

   <%- include("./partials/head") %>

  


<body>
   
<!-- header section starts  -->

<% if (!user) { %>


  <%- include("./partials/header") %>
  
  <% } else { %>
              
  
    <% if (user.role === 'admin') { %>
      <%- include("./partials/header_admin.ejs") %>
      <%- include("./partials/sidebar.ejs") %>
    <% } else { %>
      <%- include("./partials/header") %>
    
    <%}  %>
    
    
  
  <%}  %>


<!-- header section ends -->

<section class="about" id="about">

   <div class="video-container" data-aos="fade-right" data-aos-delay="300">
       <video src="images/about-vid-1.mp4" muted autoplay loop class="video"></video>
       <div class="controls">
           <span class="control-btn" data-src="images/about-vid-1.mp4"></span>
           <span class="control-btn" data-src="images/about-vid-2.mp4"></span>
           <span class="control-btn" data-src="images/about-vid-3.mp4"></span>
       </div>
   </div>

   <div class="content" data-aos="fade-left" data-aos-delay="600">
      
       <h3>why choose us?</h3>
       <span>about</span>
       <p>1. Explore the World: We offer you an unforgettable travel experience to explore the world and learn about different cultures.</p>

        <p> 2. Travel Experts: We are a team of highly trained and skilled travel experts, we work hard to meet all your needs and provide you with the best travel experience.</p>
        
          <p> 3. Bespoke excursions: We offer bespoke excursions, so we can tailor a unique excursion to suit your needs and desires.</p>
        
            <p> 4. Comprehensive services: We provide comprehensive travel services including hotel reservations, tickets, transportation, tourism activities, tour guides, and other travel-related services.</p>
        
             
        
               
     
   </div>

</section>
<!-- reviews section ends -->















<!-- footer section starts  -->

<%- include("./partials/footer") %>

<!-- footer section ends -->











</body>
</html>