<%- include("../partials/head") %> 

   
<!-- header section starts  -->
<% if (user.role === 'admin') { %>
    <%- include("../partials/header_admin.ejs") %>
    <%- include("../partials/sidebar.ejs") %>

 
  <% } else { %>
              
<%- include("../partials/header") %>
  
  <%}  %>


<section  >

   
    <div class="heading m-max">
    <h1>Profile</h1>
    </div>
   
      

           
          
                <form action="/users/uploadAvatar" method="POST" enctype="multipart/form-data">

                    

                    
                  
 <div class="profile">
    <div class="upload display">
        <img src="<%= '/images/' + user.avatar%>" width = 200p height = 100px alt="">
        <div class="round">
          <input type="file" name="avatar" id="avatar" >
          <i class = "fa fa-camera" style = "color: #fff;"></i>
         
        </div>
        <button type="submit"class="btn" >Upload</button>
      </div>

     
<div class="display">
    <h2>Nom d'utilisateur</h2>
    <p>Description du profil</p>
    <ul>
      <li><strong>Email :</strong> <% if (user) { %>
       <%= user.email%>
    <%}%></li>
      <li><strong>name :</strong> <% if (user) { %>
        <%= user.name%>
    <%}%></li>
</div>
    </ul>
  </div>


                    

                </form>




               
            
        </div>
        <%- include('../partials/flashMessages') -%>  

       


        
 </div>


 
 </section> 




    
<%- include("../partials/footer") %>