


   <%- include("../partials/head") %> 

   
<!-- header section starts  -->
<% if (!user) { %>
  <%- include("../partials/header") %>
  <% } else { %>
    <% if (user.role === 'admin') { %>
      <%- include("../partials/header_admin.ejs") %>
      <%- include("../partials/sidebar.ejs") %>
    <% } else { %>
      <%- include("../partials/header") %>
    <%}  %>
  <%}  %>
  

<section class="Trips-form" >
    <h1>Create new offre</h1>

    <div class="heading m">
      <span>book your offre!</span>
      <h1>Create new offre</h1>
   </div>



    
    <form method="POST" action="/admin/offre" enctype="multipart/form-data">

      <div class="inputBox">
      <label for="nom_ofr"> <span> nome offre </span></label>
      <input name="nom_ofr" id="nom_ofr" type="text" />
    </div>
    <div class="inputBox">
      <label for="ville_dep_ofr"> <span>The starting city of an offer </span></label>
      <input name="ville_dep_ofr" id="ville_dep_ofr" type="text" />
    </div>
    <div class="inputBox">
      <label for="date_dep_ofr"> <span>The start date of an offer</span></label>
      <input name="date_dep_ofr" id="date_dep_ofr" type="Date" />
    </div>
    <div class="inputBox">
      <label for="dest_ofr"> <span>The destination city of an offer </span></label>
      <input name="dest_ofr" id="dest_ofr" type="text" />
    </div>
    <div class="inputBox">
      <label for="dure_ofr"> <span>The duration of an offer </span></label>
      <input name="dure_ofr" id="dure_ofr" type="Number" />
    </div>
   
    <div class="inputBox">
      <label for="prix_ofr"> <span>The offer price </span></label>
      <input name="prix_ofr" id="prix_ofr" type="Number" />
    </div>
    <div class="inputBox">
      <label for="photo"> <span>offres photo: </span></label>
      <input name="photo" id="photo" type="file" />
    </div>

      
      <button class="btn">create</button>

    </form>









  </section>


<!-- footer section starts  -->

<%- include("../partials/footer") %>

<!-- footer section ends -->