


   <%- include("../partials/head") %> 

   
<!-- header section starts  -->
<% if (!user) { %>


<%- include("../partials/header") %>

<% } else { %>
            

  <% if (user.role === 'admin') { %>
    <%- include("../partials/header_admin.ejs") %>
    <%- include("../partials/sidebar.ejs") %>

  <% } else { %>
    <%- include("../partials/header") %>
  <%}  %>
  
  

<%}  %>



<section class="about" >
    


      
   </div>

   <div class="video-container m" data-aos="fade-right" data-aos-delay="300">
  
    <img src="<%= '/images/' + objoffre.photo%>" alt="">
</div>

<div class="content" data-aos="fade-left" data-aos-delay="600">


  <h1>Create new offre</h1>

    <div class="heading m">
   
      <h1>details  offre</h1>
</div>

  <span>nome offre</span>
  <p>   <%=objoffre.nom_ofr %></p>

  <span>The starting city of an offer</span>
  <p>  <%=objoffre.ville_dep_ofr %></p>

  <span>The start date of an offer</span>
  <p>    <%=objoffre.date_dep_ofr %></p>

  <span>The destination city of an offer</span>
  <p>     <%=objoffre.dest_ofr %></p>

  
  <span>The duration of an offer</span>
  <p>   <%=objoffre.dure_ofr %></p>


  <span>The offer price</span>
  <p>   <%=objoffre.prix_ofr %></p>




  <% if (!user) { %>


    <a class="btn create" href="/book/Book/<%= objoffre._id %>">book</a>
    
    <% } else { %>
                
    
      <% if (user.role === 'admin') { %>
        <button data-linkid="<%= objoffre._id %>" class="btn create">
          Delete this offre
      </button>
        <a class="btn create" href="/admin/book/Book/<%= objoffre._id %>">book</a>

      <% } else { %>
        <a class="btn create" href="/book/Book/<%= objoffre._id %>">book</a>
      <%}  %>
      
      
    
    <%}  %>
<br>














</div>







  </section>


<!-- footer section starts  -->

<%- include("../partials/footer") %>

<!-- footer section ends -->

<script>
  const btnelement = document.querySelector(".create")
  const transportId = btnelement.getAttribute("data-linkid");


  //  what is data ?
  // {mylink: "/Trips" }


  btnelement.addEventListener("click", (eo) => {

      fetch(`/offre/${transportId}`, { method: "DELETE" })
          .then((response) => response.json())
          .then((data) => window.location.href = data.mylink)
          .catch((err) => {
              console.log(err);
          });
  })



</script>