


   <%- include("../partials/head") %> 

   
<!-- header section starts  -->
<% if (!user) { %>


<%- include("../partials/header") %>

<% } else { %>
            

  <% if (user.role === 'admin') { %>
    <%- include("../partials/header_admin.ejs") %>
    <%- include("../partials/sidebar.ejs") %>
  <% } else { %>
    <%- include("../partials/header") %>
  
  <%}  %>
  
  

<%}  %>

<section class="Trips-form" >
    <h1>Create new offre</h1>

    <div class="heading m">
      <span>book your offre!</span>
      <h1>details new offre</h1>
   </div>



    
    <form method="#" action="#" >

      <div class="inputBox">
      <label for="nom_ofr"> <span> nome offre </span></label>
      <p class="form-control">
        <%=objoffre.nom_ofr %>
    </p>
    </div>
    <div class="inputBox">
      <label for="ville_dep_ofr"> <span>The starting city of an offer </span></label>
      
      <p class="form-control">
        <%=objoffre.ville_dep_ofr %>
    </p>
    </div>
    <div class="inputBox">
      <label for="date_dep_ofr"> <span>The start date of an offer </span></label>
      <p class="form-control">
        <%=objoffre.date_dep_ofr %>
    </p>
    </div>
    <div class="inputBox">
      <label for="dest_ofr"> <span>The destination city of an offer </span></label>
      
      <p class="form-control">
        <%=objoffre.dest_ofr %>
    </p>
    </div>
    <div class="inputBox">
      <label for="dure_ofr"> <span>The duration of an offer </span></label>
      <p class="form-control">
        <%=objoffre.dure_ofr %>
    </p>
    </div>
    <div class="inputBox">
      <label for="prix_ofr"> <span>The offer price </span></label>
      <p class="form-control">
        <%=objoffre.prix_ofr %>
    </p>
    </div>
    <div class="inputBox">
      <label for="photo"> <span>offres photo: </span></label>
      <p class="form-control">
        <%=objoffre.photo %>
    </p>
    </div>

      
    <button data-linkid="<%= objoffre._id %>" class="btn create">
      Delete this offre
  </button>

    </form>









  </section>


<!-- footer section starts  -->

<%- include("../partials/footer") %>

<!-- footer section ends -->

<script>
  const btnelement = document.querySelector(".create")
  const transportId = btnelement.getAttribute("data-linkid");


  //  what is data ?
  // {mylink: "/Trips" }


  btnelement.addEventListener("click", (eo) => {

      fetch(`/offre/${transportId}`, { method: "DELETE" })
          .then((response) => response.json())
          .then((data) => window.location.href = data.mylink)
          .catch((err) => {
              console.log(err);
          });
  })



</script>