
<link href="https://fonts.googleapis.com/css?family=Roboto:300,400&display=swap" rel="stylesheet">

<!-- <link rel="stylesheet" href="/fonts/icomoon/style.css"> -->

<link rel="stylesheet" href="/css/owl.carousel.min.css">

<!-- Bootstrap CSS -->
<link rel="stylesheet" href="/css/bootstrap.min.css">

<!-- Style -->
<link rel="stylesheet" href="/css/style.css">

<%- include("../partials/head") %> 

   
<!-- header section starts  -->

<%- include("../partials/header") %>

<!-- header section ends -->



   

<div class="heading m-max">
  
   <h1> All bookings</h1>
</div>
<!-- booking section starts  -->

<section class="book-form" >


   <div class="heading m">
      <span>All reservations</span>
    
   </div>



      <div class="table-responsive custom-table-responsive">

        <table class="table custom-table">
          <thead>
            <tr>  

              <th scope="col">
                <label class="control control--checkbox">
                  <input type="checkbox"  class="js-check-all"/>
                  <div class="control__indicator"></div>
                </label>
              </th>
              
              <th scope="col">name </th>
              <th scope="col">email</th>
              <th scope="col">phone</th>
              <th scope="col">address</th>
              <th scope="col">where to</th>
              <th scope="col">how many</th>
              <th scope="col">arrivals</th>
              <th scope="col">leaving</th>

            </tr>
          </thead>
          <tbody>
            <tr scope="row">
              
               <% arrBooks.forEach(item=> { %>
               <th scope="row">
                  <label class="control control--checkbox">
                    <input type="checkbox"/>
                    <div class="control__indicator"></div>
                  </label>
                </th>

               <td>
                  <%= item.name_vol %>
               </td>
               
               <td>
                  <%= item.email_vol %>
                
               </td>
               
               <td>
                  <%= item.phone_vol %>
                  
               </td>
               
               <td>
                  <%= item.address_vol %>
                 
               </td>
               
               
               <td>
                  <%= item.location_vol %>
               </td>
               
               
               <td>
                  <%= item.prix_vol %>
               </td>
               
               <td>
                  <%= item.arrivals_vol %>
               </td>
               
               <td>
                  <%= item.leaving_vol %>
               </td>

             
              <tr class="spacer"><td colspan="100"></td></tr>

             </tr>
             <% }); %>  


          </tbody>
        </table>
      </div>


    </div>

  </div>
    
    

   

</section>

<!-- booking section ends -->

<script src="/js/jquery-3.3.1.min.js"></script>
<script src="/js/popper.min.js"></script>
<script src="/js/bootstrap.min.js"></script>
<script src="/js/main.js"></script>
<!-- footer section starts  -->

<%- include("../partials/footer") %>

<!-- footer section ends -->
