<!DOCTYPE html>
<html lang="en">

   <%- include("../partials/head") %>

  


<body>
  <% if (user) { %>
<!-- header section starts  -->

<!-- header section starts  -->
<% if (user.role === 'admin') { %>
  <%- include("../partials/header_admin.ejs") %>
  <%- include("../partials/sidebar.ejs") %>


<% } else { %>
            
<%- include("../partials/header") %>

<%}  %>

<%}  %>
<%- include("../partials/header") %>

<!-- header section ends -->



<section class="Trips-form" >
 



    <div class="heading m">
      <span>book your hotel!</span>
      <h1>details hotel</h1>
   </div>



    
    <form method="#" action="#" >

      


    <div class="inputBox">
      <label for="name"> <span>name</span></label>
      <p class="form-control">
        <%= objhotel.name %>
    </p>
    </div>
    <div class="inputBox">
      <label for="type"> <span>type  </span></label>
      <p class="form-control">
        <%= objhotel.type %>
    </p>
    </div>
    <div class="inputBox">
      <label for="city"> <span>city </span></label>
      <p class="form-control">
        <%= objhotel.city %>
    </p>
    </div>
    <div class="inputBox">
      <label for="address"> <span>address</span></label>
      <p class="form-control">
        <%= objhotel.address %>
    </p>
    </div>
    <div class="inputBox">
      <label for="distance"> <span>distance</span></label>
      <p class="form-control">
        <%= objhotel.distance %>
    </p>
    </div>
   
    <div class="inputBox">
      <label for="photohotel"> <span>photos</span></label>
      <p class="form-control">
        <%= objhotel.photohotel %>
    </p>
    </div>
   
    <div class="inputBox">
      <label for="title"> <span>title</span></label>
      <p class="form-control">
        <%= objhotel.title %>
    </p>
    </div>
    <div class="inputBox">
      <label for="desc"> <span>desc</span></label>
      <p class="form-control">
        <%= objhotel.desc %>
    </p>
    </div>
    <div class="inputBox">
      <label for="rating"> <span>rating</span></label>
    
      <p class="form-control">


        <%     for (let i = 0; i < objhotel.rating; i++) {%>
          
          <span class="fa fa-star checked"></span>

          <% }; %>  


    </p>
    </div>
    <div class="inputBox">
      <label for="cheapestPrice"> <span>cheapestPrice</span></label>
      <p class="form-control">
        <%= objhotel.cheapestPrice %>
    </p>
    </div>
    <div class="inputBox">
      <label for="featured"> <span>featured</span></label>
      <p class="form-control">
        <%= objhotel.featured %>
    </p>
  </div>
    

      
       
    <% if (!user) { %>

      <!-- <a class="btn create" href="/Bookhotel/bookUser/<%= objhotel._id %>">book</a> -->

      <a class="btn create" href="/hotel/hoteroom/<%= objhotel._id %>">room</a>
      
      <% } else { %>
                  
      
        <% if (user.role === 'admin') { %>
          <button data-linkid="<%= objhotel._id %>" class="btn create">
            Delete this hotel
        </button>
          <!-- <a class="btn create" href="/admin/book/Book/<%= objhotel._id %>">book</a> -->
  
        <% } else { %>
          <!-- <a class="btn create" href="/Bookhotel/bookUser/<%= objhotel._id %>">book</a> -->
      <a class="btn create" href="/hotel/hoteroom/<%= objhotel._id %>">room</a>
        
        <%}  %>
        
        
       
      <%}  %>




    </form>









  </section>




<%- include("../partials/footer.ejs") %>

<script>
    const btnelement = document.querySelector(".create")
    const hotelId = btnelement.getAttribute("data-linkid");





    btnelement.addEventListener("click", (eo) => {

        fetch(`/admin/hotel/hotel/${hotelId}`, { method: "DELETE" })
            .then((response) => response.json())
            .then((data) => window.location.href = data.mylink)
            .catch((err) => {
                console.log(err);
            });
    })



</script>


















