<!DOCTYPE html>
<html lang="en">

   <%- include("../partials/head") %>

  


<body>
  <% if (user) { %>
<!-- header section starts  -->

<!-- header section starts  -->
<% if (user.role === 'admin') { %>
  <%- include("../partials/header_admin.ejs") %>
  <%- include("../partials/sidebar.ejs") %>


<% } else { %>
            
<%- include("../partials/header") %>

<%}  %>

<%}  %>
<%- include("../partials/header") %>

<!-- header section ends -->



<section class="Trips-form" >
 



    <div class="heading m">
      <span>book your hotel!</span>
      <h1>details hotel</h1>
   </div>



    
    <form method="#" action="#" >

      <div class="inputBox">
      <label for="date_tra"> <span>The start date </span></label>
      <p class="form-control">
        <%= objhotel.date_tra %>
    </p>
    </div>
    <div class="inputBox">
      <label for="date_rest_tra"> <span>The date of return </span></label>
      
      <p class="form-control">
        <%= objhotel.date_rest_tra %>
    </p>
    </div>
    <div class="inputBox">
      <label for="prix_tra"> <span>hotel prix </span></label>
      <p class="form-control">
        <%= objhotel.prix_tra %>
    </p>
    </div>
    <div class="inputBox">
      <label for="mp_tra"> <span>company hotel </span></label>
      
      <p class="form-control">
        <%= objhotel.cmp_tra %>
    </p>
    </div>
    <!-- <div class="inputBox">
      <label for="typ_tra"> <span>type </span></label>
      <p class="form-control">

      
          <td>
           
         </td>
        
    </p>
    </div> -->
    

      
       
    <% if (!user) { %>

      <!-- <a class="btn create" href="/Bookhotel/bookUser/<%= objhotel._id %>">book</a> -->

      <a class="btn create" href="/hotel/hoteroom/<%= objhotel._id %>">room</a>
      
      <% } else { %>
                  
      
        <% if (user.role === 'admin') { %>
          <button data-linkid="<%= objhotel._id %>" class="btn create">
            Delete this hotel
        </button>
          <!-- <a class="btn create" href="/admin/book/Book/<%= objhotel._id %>">book</a> -->
  
        <% } else { %>
          <!-- <a class="btn create" href="/Bookhotel/bookUser/<%= objhotel._id %>">book</a> -->
      <a class="btn create" href="/hotel/hoteroom/<%= objhotel._id %>">room</a>
        
        <%}  %>
        
        
       
      <%}  %>




    </form>









  </section>




<%- include("../partials/footer.ejs") %>

<script>
    const btnelement = document.querySelector(".create")
    const hotelId = btnelement.getAttribute("data-linkid");





    btnelement.addEventListener("click", (eo) => {

        fetch(`/admin/hotel/hotel/${hotelId}`, { method: "DELETE" })
            .then((response) => response.json())
            .then((data) => window.location.href = data.mylink)
            .catch((err) => {
                console.log(err);
            });
    })



</script>


















