


   <%- include("../partials/head") %> 

   
<!-- header section starts  -->

<!-- header section starts  -->
<% if (user.role === 'admin') { %>
  <%- include("../partials/header_admin.ejs") %>
  <%- include("../partials/sidebar.ejs") %>


<% } else { %>
            
<%- include("../partials/header") %>

<%}  %>

<section class="Trips-form" >
    

    <div class="heading m">
      <span> transport!</span>
      <h1>Book transport</h1>
   </div>



    
    <form method="POST" action="/BookTransport" >

    
      <div class="inputBox">
      <label for="name"> <span>name</span></label>
        <input name="name" id="name" type="text" />
    </div>
    <div class="inputBox">
      <label for="email"> <span>email  </span></label>
      <input name="email" id="email" type="date" />
    </div>
    <div class="inputBox">
      <label for="Num_tel"> <span>phone number </span></label>
    <input name="Num_tel" id="Num_tel" type="number" />
    </div>
    
   
    <div class="inputBox">
            
      <label for="transport"> <span> transport</span></label>

      <select class="custom-select mr-sm-2" name="transport">
          <option selected disabled> type</option>
          <% arrtransport.forEach(item=> { %>
            
      <option value='<%= item._id %>'>  <%= item.name %> </option>
      
      <% }); %>  
      </select>
      
      </div>

    
      <button class="btn">create</button>

    </form>









  </section>


<!-- footer section starts  -->

<%- include("../partials/footer") %>

<!-- footer section ends -->




