<!DOCTYPE html>
<html lang="en">
   <%- include("../partials/head") %> 
<body>
   
<!-- header section starts  -->

<!-- header section starts  -->
<% if (!user) { %>
   <%- include("../partials/header") %>
   
   <% } else { %>
               
     <% if (user.role === 'admin') { %>
       <%- include("../partials/header_admin.ejs") %>
       <%- include("../partials/sidebar.ejs") %>
     <% } else { %>
       <%- include("../partials/header") %>
     
     <%}  %>
    
   <%}  %>



   
   <section data-aos="zoom-in-left" data-aos-delay="2050" class="transport" >  
    <div class="heading m">
      <span>All book transport</span>
    
   </div>
<br>
<table>
   <%- include('../partials/flashMessages') -%>

   <thead>
      <tr>  
        <th >Processes </th>
        <th scope="col">name </th>
        <th scope="col" >date</th>
        <th scope="col">transport prix </th>
      </tr>
    </thead>

    <tbody>


      <tr >
        
        <% arrBookTranspot.forEach(item=> { %>
               
         
         <% if (user) { %>
         <% if ( item.user_id == user._id ) { %>
<td>
  <a  href="/BookTransport/BookTranspor/<%= item._id  %>">read more <i class="fas fa-angle-right"></i></a>

         </td>
         
   
          <td>
             <%= item.name %>
         </td>

         <td>
           <%= item.transport.date_rest_tra %>
       </td>   
  

           <td>
              <%= item.transport.prix_tra %>
           </td>





         
         

       
        <tr class="spacer"><td colspan="100"></td></tr>

       </tr>
         
         
      
                     
         
       
     
           
       <%}  %>
       <%}  %>

           
         
       <% }); %> 

        


    </tbody>
   </table>
   
       
      </section>
   </div>
   </div>
      




<!-- footer section starts  -->

<%- include("../partials/footer") %>

<!-- footer section ends -->