
   <%- include("../partials/head") %> 

   
<!-- header section starts  -->

<!-- header section starts  -->
<% if (!user) { %>


   <%- include("../partials/header") %>
   
   <% } else { %>
               
   
     <% if (user.role === 'admin') { %>
       <%- include("../partials/header_admin.ejs") %>
       <%- include("../partials/sidebar.ejs") %>
     <% } else { %>
       <%- include("../partials/header") %>
     
     <%}  %>
     
     
   
   <%}  %>



   

    <div class="heading m">
       <span>All transport</span>
     
    </div>
    <div class="heading m">
     
   </div>
 
 
 
       
   <section data-aos="zoom-in-left" data-aos-delay="2050" class="transport" >  
        <table >
            <thead>
              <tr>  
  
               <th >Processes </th>
               <th >transport prix_tra</th>
            
               <th >name </th>
 
             </tr>
           </thead>

         
           <tbody>

                 
            <% arrBookTranspot.forEach(item=> { %>
               

             <tr >
               <td>
                    <a  href="/BookTranspot/BookTranspot/<%= item._id  %>">read more <i class="fas fa-angle-right"></i></a>
                </td>
               <% arrtransport.forEach(itemm=> { %>
               <% if ( item.transport === itemm._id) { %>
               <td>
                  <%= itemm.date_tra %>
              </td>
              <td>
                <%= itemm.date_rest_tra %>
            </td>               <td>
              <%= itemm.typ_tra %>
          </td>
              <% } %>
              <% }); %>  
                <td>
                   <%= item.prix_tra %>
                </td>
                
 
              
              
              
              </tr>


              <% }); %>  
 
 
            </tbody>
        </table>
      </section>
   </div>
   </div>
      




<!-- footer section starts  -->

<%- include("../partials/footer") %>

<!-- footer section ends -->