<!DOCTYPE html>
<html lang="en">

   <%- include("../partials/head") %>

  


<body>
   
<!-- header section starts  -->

<!-- header section starts  -->
<% if (user.role === 'admin') { %>
  <%- include("../partials/header_admin.ejs") %>
  <%- include("../partials/sidebar.ejs") %>


<% } else { %>
            
<%- include("../partials/header") %>

<%}  %>



<!-- header section ends -->



<section class="Trips-form" >
   
    <div class="heading m">
      <span>book your transport!</span>
      <h1>details new transport</h1>
   </div>



    
    <form method="#" action="#" >

      <div class="inputBox">
      <label for="name"> <span>name </span></label>
      <p class="form-control">
        <%= objBookTranspor.name %>
    </p>
    </div>
    <div class="inputBox">
      <label for="email"> <span>The date of return </span></label>
      
      <p class="form-control">
        <%= objBookTranspor.email %>
    </p>
    </div>
    <div class="inputBox">
      <label for="Num_tel"> <span>transport prix </span></label>
      <p class="form-control">
        <%= objBookTranspor.Num_tel %>
    </p>
    </div>
    
    <div class="inputBox">
      <label for="transport"> <span>type </span></label>
      <p class="form-control">

       
          <td>
             <%= objBookTranspor.transport.typ_tra.name %>
         </td>
        
    </p>
    </div>
    

      
    <% if (!user) { %>


      
      
      <% } else { %>
                  
      
        <% if (user.role === 'admin') { %>
          <button data-linkid="transport/<%= objBookTranspor._id %>" class="btn create">
            Delete this book transport
        </button>
         
  
        <% } else { %>
          <button data-linkid="transport/<%= objBookTranspor._id %>" class="btn create">
            Delete this book transport
        </button>
        <%}  %>
        
        
      
      <%}  %>
     

    </form>









  </section>




<%- include("../partials/footer.ejs") %>

<script>
    const btnelement = document.querySelector(".create")
    const transportId = btnelement.getAttribute("data-linkid");


    //  what is data ?
    // {mylink: "/Trips" }


    btnelement.addEventListener("click", (eo) => {

        fetch(`/transport/${transportId}`, { method: "DELETE" })
            .then((response) => response.json())
            .then((data) => window.location.href = data.mylink)
            .catch((err) => {
                console.log(err);
            });
    })



</script>























